#auditWrap
	#auditClose
		span.fa.fa-close
	#auditContentWrap
		.leftTxWrap
			#auditLegend 审计
			#marbleIdWrap
				span 货物
				div#marbleId -
			span.ball.largeMarble.bluebg.auditMarble

		.txHistoryWrap
			.auditHint &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;点击货物对其交易进行审计
