#disableOwnerWrap
	span.fa.fa-close.closeDisableOwner#closePos

	h2 删除

	br
	br

	span 你想把这个用户删除吗？

	br
	br

	span 他们的货物也将被删除。

	br
	br

	button.closeDisableOwner(style="float:left;") 取消
	span &nbsp;&nbsp;
	button(style="float:right;")#removeOwner 删除
