$main_bg: rgba(51, 60, 71, 0.55);
$main_color: #fff;

$acc_color0: rgba(24, 28, 34, 0.49);
$acc_color1: rgba(34, 40, 50, 0.4);
$acc_color1-5: rgba(57, 66, 77, 0.45);
$acc_color2: rgba(100, 107, 115, 0.5);
$acc_color3: rgba(229, 235, 238, 0.5);


$hi_color1: #ff5b5b;
$hi_color2: #2EB9D6;
$hi_color2-5: #2872D3;
$hi_color3: #52b152;
$hi_color4: #2d2c2b;
$err_color: #ff5b5b;

$err_back:url("http://r.photo.store.qq.com/psb?/V109572S3OlDo8/Oub1gb1IXR2pFaiSsjWZoimwk0PpLCvqmFkJB0igGnA!/r/dPIAAAAAAAAA") no-repeat;
$err_back1:url("/imgs/rz.png") no-repeat;
$but_back:url("/imgs/but1.png") no-repeat;
$buth_back:url("/imgs/buth.png");
